<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Client page</title>
  </head>
  <body>
    <h1>@Model.GetClientName()</h1>
    </br>
    </br>
    </br>
    <a href="/client/edit/@Model.GetId()">Edit this Client</a>| <a href="/client/delete/@Model.GetId()">Delete this Client</a>| <a href="/">Home Page</a>
  </body>
</html>
